@use "./_colors";

a {
  transition: color .2s ease-in;
  color: $orange-600;
  &:hover {
    color: $orange-700;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  a {
    font-size: 1.5rem;
  }
}